# Environment variables
.env
*.egg-info/

# Python cache
__pycache__/
*.py[cod]
*$py.class
XBRL/__pycache__/

# Log files
# *.log
# **/ErrorLog.txt
# **/logfile.txt

# Jupyter notebooks
# *.ipynb
.ipynb_checkpoints/

# Virtual environment
venv/

# macOS system files
.DS_Store

# Project requirements
# requirements.txt

# Backup files
# *Backup.py


Returns/*.csv
benzinga/logs/*.log
News/*.csv
SEC_API_Files/sec_filing_errors.log
