# Python cache
__pycache__/
*.py[cod]
*$py.class
XBRL/__pycache__/

# Log files
*.log
**/ErrorLog.txt
**/logfile.txt

# Jupyter notebooks
*.ipynb
.ipynb_checkpoints/

# Virtual environment
venv/

# macOS system files
.DS_Store

# Project requirements
requirements.txt

# Backup files
*Backup.py
